{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Default Title{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    {% comment %} <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script> {% endcomment %}
    {% tailwind_css %}
  </head>

  <body class="min-h-screen bg-gray-900">
    <header class="bg-gray-900 text-white p-4">
      <div class="flex justify-center">
        <div class="pl-10"><a href="{% url 'home' %}" class="text-3xl font-bold">TenFlix</a></div>
        <div class="flex pr-10">
          <ul class="flex space-x-4">
            {% comment %} <li><a href="{% url 'movies' %}" class="text-gray-300 hover:text-white">Movies</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url 'shows' %}" class="text-gray-300 hover:text-white">TV-Shows</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url 'movies' %}" class="text-gray-300 hover:text-white">Top-Rated</a></li> {% endcomment %}
          </ul>
        </div>
      </div>
    </header>
    <div class="">{% block content %} 
		
		{% endblock content %}</div>
  </body>
</html>
